#object @notifications
 #   attributes :id,:from_user, :to_user, :about,:message,:msg_type ,:created_at,:restaurant
    
    
#node(:anme){@resturant.name}

<!-- <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div> -->

    
