<div class="instructions">
  <p class="text-info">No menus created yet. Here's how to get started.</p>
  <ol>
    <li><b>Create a menu</b><br/>
      <p class="muted"><i>Examples: General, Catering, Breakfast, Brunch</i></p>
    </li>
    <li><b>Create menu categories.</b><br/>
      <p class="muted"><i>Examples: Beverages, Appetizers, Desserts</i></p>
    </li>
    <li><b>Create menu items</b><br/>
      <p class="muted"><i>Examples: Steak Burger, 20 oz Diet Coke, Cheesecake</i></p>
    </li>
  </ol>
  <h4 class="setup_heading">Reward Points for User Ratings</h4>
  <p>When users rate your restaurant's products and services, reward them with points!</p>
  <p>You can allow points to be redeemed for food or other gifts for their continued patronage.</p>
  <p>Points can be assigned globally for everything in a menu or category, or assign points to a specific menu item like a new entree you want customers to try.</p>
  <p>Points encourage customers to rate, which quickly reveals what they really think and helps you make improvements</p>

</div>