<% if not @item_array.empty? %>
  <% modal_id = 'item-modal' %>
  <%= form_tag({}, {class: 'batch-delete-form', data: {source: 'menu_items', error_class: 'item_form_errors_container'}}) do |f| %>
    <a class="btn" data-toggle="modal" data-target="#<%= modal_id %>">
      <% if item.new_record? %>
        Edit Item
      <% else %>
        <span class="item-name-edit"><%= item.name %></span>
      <% end %>

      <span class="caret"></span>
    </a>
    <% link = 'edit_menu_item_path(item)' %>
    <%= render partial: '/menus/menu_modal', locals: {array: @item_array, is_published: 'has_menu_published?', modal_id: modal_id, link: link} %>
  <% end %>
<% end %>
