<% unless @server_array.empty? %>
  <%= form_tag({}, {class: 'batch-delete-form', data: {source: 'servers', error_class: 'server_form_errors_container'}}) do |f| %>
    <% modal_id = 'server-modal' %>
    <% link = 'edit_server_path(item)' %>
    <a class="btn" data-toggle="modal" data-target="#<%= modal_id %>">
      <% if @server.new_record? %>
        Edit Server
      <% else %>
        <%= @server.name %>
      <% end %>

      <span class="caret"></span>
    </a>
    <%= render partial: 'menus/menu_modal', locals: {array: @server_array, is_published: 'has_menu_published?', modal_id: modal_id, link: link} %>
  <% end %>
<% end %>
