<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
        body {
            padding: 0 10px;
        }
        p.header {
          margin-left: 70px;
          display: inline-block;
        }
    </style>
</head>
<body>
  <div>
    <p>Congratulations, <%= @sharer %> has shared <%= @points.to_i %> points from <%= @restaurant_name %> with you. Visit <%= @restaurant_name %> to redeem your points.</p>
    <p>whoshungry</p>
  </div> 
</body>
</html>
