<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
        body {
            padding: 0 10px;
        }
        p.header {
          margin-left: 70px;
          display: inline-block;
        }
    </style>
</head>
<body>
  <div>
    <p><%= @name %> has invited to join BYTE! Select this link to sign up! <%= @link %></p>
    <p>BYTE</p>
    <p>www.mybyteapp.com</p>
  </div> 
</body>
</html>
