<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
      body {
        padding: 0 10px;
      }
    </style>
</head>
<body>
<p>Welcome to your new BYTE account!</p>
<p>Below is the login information: <br />
Email: <%= @user.email %><br />
Password: <%= @user.password_bak %></p>
<p>Please login and view the Getting Started Video. This will help you understand
the fastest way to get your account setup and getting your restaurant published
to the BYTE iOS/Android App.</p>
<p>Please contact us if you have any questions.</p>
Phone: <br />
Email: <br />
Chat: <br />
<p>Thanks You for Joining the the BYTE Team! #WhosHungery!</p>
<p>Note: NO CONTRACT Required. If you cancel, you must cancel before the next
billing date starts.</p>
</body>
</html>