<p>Congratulations! You have successfully created a new restaurant. Below is the
login information for Manager of this restaurant to BYTE application and Google Account:</p>

<b>Username:</b> <%= @user.username %> <br />
<b>Email:</b> <%= @user.email %> <br />
<b>Password:</b> <%= @user.password_bak %> <br />
<p>Thanks You for Joining the the BYTE Team!</p>