<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
        body {
            padding: 0 10px;
        }

        .footer {
            position: relative;
        }

        .footer img {
          float: left;
        }

        .footer .support {
            position: relative;
            left: 20px;
            top: 60px;
        }
        p.header {
          margin-left: 70px;
          display: inline-block;
        }
    </style>
</head>
<body>
  <div>
    <p>Welcome back to the BYTE Team!</p> 
    <p>We are excited to help you in anyway to leveraging all the features BYTE offers. Please contact us with any questions.</p>
    <p>BYTEMgt</p>
    <p>Creating Smarter Restaurant's & Happier Customers"</p>
  </div> 
</body>
</html>
