<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
        body {
            padding: 0 10px;
        }

        .footer {
            position: relative;
        }

        .footer img {
          float: left;
        }

        .footer .support {
            position: relative;
            left: 20px;
            top: 60px;
        }
        p.header {
          margin-left: 70px;
          display: inline-block;
        }
    </style>
</head>
<body>
  <div>
    <p>Your BYTE account has been canceled. Your account will be saved for 2 months and can be re-activated during that time and no information will be lost. After 2 months all your restaurant data will be deleted.</p>p><br>
    <p>Please contact us at support@mybyteapp.com if you have any questions.</p><br>
  </div> 
   
  <div class="footer">
    <div class="support">
      <p>Thanks</p><br>
      <p>BYTEMgt</p><br>
      <p>Creating Smarter Restaurant's & Happier Customers</p><br>
    </div>
  </div>
</body>
</html>
