<style>
.qrcode, .print-qrcode {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
.qrcode td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
}
.qrcode td.black, .print-qrcode td.black { background-color: #000; }
.qrcode td.white, .print-qrcode td.white { background-color: #fff; }

.print-qrcode td{
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}

</style>
<center>
<h2><%= @reward.location.name %></h2>
<h2><%= @reward.name %></h2>

<div>
  <table class="print-qrcode">
    <% @qr.modules.each_index do |x| %>
      <tr>
        <% @qr.modules.each_index do |y| %>
          <% if @qr.dark?(x,y) %>
            <td class="black"></td>
          <% else %>
            <td class="white"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<h3>Exp Date: <%= @reward.expired_until.strftime("%m/%d/%y") %></h3>
</center>
