<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app_service.name %>
</p>



<%= link_to 'Edit', edit_admin_app_service_path(@app_service) %> |
<%= link_to 'Back', admin_app_services_path %>
