#prize-category{
  font-weight: bold;
  margin-left: 10px;
}

.prize-menu{
  margin-left: 222px;
  width: 240px;
}

.item-prize{
  padding: 3px 20px;
}

.prize-header{
    padding: 10px;
    font-weight: bold;
}
.item-prize:hover{
    cursor: pointer;
    /*background: #0081c2;*/
}
.none-prize{
  padding: 3px 10px;
}
.none-prize:hover{
  cursor: pointer;
  background: #0081c2;
}
.hidden-field{
  display: none;
}
.wrap-prize-item{
  list-style-type: none;
  margin: 0 auto;
}
.wrap-prize-category{
  list-style-type: none;
  margin: 0 auto;
}
.caret{
  float: right;
}

.qrcode{
  float: left;
  margin-right: 15px;
}

.qrcode, .print-qrcode {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
.qrcode td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 4px;
  height: 4px;
}
.qrcode td.black, .print-qrcode td.black { background-color: #000; }
.qrcode td.white, .print-qrcode td.white { background-color: #fff; }

.redeem-qrcode-checkbox{
  margin-top: 15px;
  margin-right: 10px;
}

.print-qrcode td{
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
