<p>Hello <%= @resource.email %>!</p>

<p>We have received a request to reset your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request to change your password, please contact the BYTE App support team.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>BYTE Support</p>
