<div class="block-head clearfix header-menu-mgt">
     <span class="icon-plus btn togglebtn" data-toggle="collapse" data-target="#address_form_toggle"></span>
    <span class="wrap_title_form">
      <span class="btn btn-link collapsu" id="build_menu_title">
        Address and Contact</span>
      </span>
</div>
<div id="address_form_toggle"  class="collapse">
  <%= render :partial=>'accounts/address_form_primary' %>
</div>

