<div class="block-head clearfix header-menu-mgt">
  <span class="icon-plus btn togglebtn" data-toggle="collapse" data-target="#package_form_toggle"></span>
  <span class="wrap_title_form">
    <span class="btn btn-link collapsu" id="build_menu_title">
        BYTE Package
    </span>
  </span>
</div>
<div id="package_form_toggle" class="collapse">
  <%= render :partial=>'package_form_primary' %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">

  </script>
<% end %>
